*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html ,body{
    height: 100%;
    width: 100%;
}

html{

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}

:root{
    --bg-color:#000000;
    --primary-text-color:#f4f4f4;
    --bg-btn-color:#1a1a1a;
    --bg-task-color:#2a2a2a;
    --dlt-color:rgb(192, 78, 78);
    
    /* Padding variables */
    --nav-padding: 15px 30px;
    --section-padding:15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;

    /* border radius variables  */

    --border-radius-s:5px;
    --border-radius-m:10px;
    --border-radius-l:15px;
    --border-radius-xl:20px;
    --border-radius-xxl:30px;


}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: var(--bg-color);
    color:var(--primary-text-color);
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: var(--bg-color);
}

nav button{
    background-color: var(--bg-btn-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius:var(--border-radius-m) ;
}

section{

    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
    gap:var(--padding-xl) ;

}

section .task-column{
    background-color: var(--bg-btn-color);
    flex-grow: 1;
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    border-radius:var(--border-radius-m) ;
    transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}



section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    
}


section .task-column .task{
    background:var(--bg-task-color);
    padding: var(--padding-m);
    border-radius:var(--border-radius-m) ;
    display: flex;
    flex-direction: column;
        cursor: grab;
}


section .task-column .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    background-color: var(--dlt-color);
    color: var(--primary-text-color);
}


.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

.modal .center{

    background-color: var(--bg-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    z-index:10 ;

}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);

}



.modal .center button{
    background-color: var(--bg-btn-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius:var(--border-radius-m) ;
    align-self: center;
    width: fit-content;
}