*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, #ebf4f5, #b4c6e0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 50%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 20px 30px;
    margin-inline:20px ;
}
.form-box header h1{
    text-align: center;
    color: #5851e5;

}
.form-box form h1{
margin-block: 30px;
}
input{
    width: 100%;
    padding: 18px 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color:rgba(247, 218, 218, 0.551);
    font-size: 16px;
    margin: 12px 0;
}
input[type='text']{
    display: none;
}
a{
    text-decoration:none ;
    color: #9c9c9c00;
    font-size: 14px;
}
input[type = "button"]{
    margin-block: 23px;
    background-color: #5851e5;
    color: #ffffffff;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    transition: .4s;
}
input[type = "button"]:hover{
    background-color:#10449a ;
}
.links{
    display: flex;
    justify-content: center;

}
.links a img{
    max-height: 45px;
    margin-inline: 10px;
}
.signup{
    text-align: center;
    margin-block: 20px;
}
.signup a{
    font-size: 17px;
    font-weight: 700;
    color: #5851e5;
}
.signup a:hover{
    color: #10449a;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
}

/* css to achieve responsive design */
@media screen and (max-width:700px) {
    .form-box{
        width: 100%;
    }
}